{{#> base }}
<tr>
  <td style="padding: 0; padding: 0 10px">
    <h3 style="margin: 0; font-weight: 500">Hello {{name}}!</h3>
  </td>
</tr>
<tr>
  <td height="10" style="padding: 0; background-color: white"></td>
</tr>
<tr>
  <td style="padding: 0; background-color: white; padding: 0 10px">
    <p style="margin: 0; font-weight: lighter">
      We're sorry to say but your Kakapo has been indefinitely disabled.
    </p>
    <p>
      You may appeal this decision at <a href="https://kakaposocial.com/appeal">this link</a>.
    </p>
  </td>
</tr>
{{/ base }}