{{#> base }}
<tr>
  <td style="padding: 0; padding: 0 10px">
    <h3 style="margin: 0; font-weight: 500">Hello {{name}}!</h3>
  </td>
</tr>
<tr>
  <td height="10" style="padding: 0; background-color: white"></td>
</tr>
<tr>
  <td style="padding: 0; background-color: white; padding: 0 10px">
    <p style="margin: 0; font-weight: lighter">
      Thank you for choosing Kakapo, before you get started we just need to confirm that you own this email.
    </p>

    <p>To confirm your email please press the button below:</p>
  </td>
</tr>

<tr>
  <td height="20" style="padding: 0; background-color: white"></td>
</tr>

<tr>
  <td style="padding: 0 40px">
    <center>
      <a
        href="{{link}}"
        style="
                  display: block;
                  color: black;
                  background-color: #f1f1f1;
                  padding: 10px;
                  border-radius: 15px;
                  text-decoration: none;
                "
      ><h2 style="font-weight: 200">Confirm My Email</h2></a>
    </center>
  </td>
</tr>

<tr>
  <td height="30" style="padding: 0; background-color: white"></td>
</tr>

<tr>
  <td style="padding: 0; background-color: white; padding: 0 10px">
    If the button above does not work, please try the link below:
  </td>
</tr>

<tr>
  <td height="20" style="padding: 0; background-color: white"></td>
</tr>

<tr>
  <td style="padding: 0; background-color: white; padding: 0 10px">
    {{link}}
  </td>
</tr>

<tr>
  <td height="20" style="padding: 0; background-color: white"></td>
</tr>

<tr>
  <td style="padding: 0;background-color: white;padding: 0 10px;color: #999999;">
    <p>
      If you didn't create an account with us recently then you can safely ignore this email, it is likely that someone
      had a typo when entering their own email. You shouldn't receive any other emails from us unless your email is used
      on our platform again.
    </p>
  </td>
</tr>
{{/ base }}