<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>Confirm Email</title>
  </head>
  <body
    style="
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      color: rgb(68, 68, 68);
      background-color: #cccccc;
    "
  >
    <center style="width: 100%; table-layout: fixed; background-color: #cccccc">
      <table
        width="100%"
        style="
          margin: 0 auto;
          width: 100%;
          max-width: 600px;
          border-spacing: 0;
          background-color: white;
        "
      >
        <tr>
          <td height="15" style="padding: 0; background-color: white"></td>
        </tr>
        <tr>
          <td style="padding: 0">
            <center>
              <a href="https://kakaposocial.com/" style="text-decoration: none">
                <img src="cid:banner" alt="Kakapo Branding" height="35" />
              </a>
            </center>
          </td>
        </tr>
        <tr>
          <td height="15" style="padding: 0; background-color: white"></td>
        </tr>

        <tr>
          <td height="2" style="padding: 0; background-color: #eeeeee"></td>
        </tr>
        <tr>
          <td height="15" style="padding: 0; background-color: white"></td>
        </tr>
        <tr>
          <td style="padding: 0; background-color: white; padding: 0 10px">
            <h3 style="margin: 0; font-weight: 500">Hello {{name}}!</h3>
            <p style="margin: 0; font-weight: lighter">
              Thank you for choosing Kakapo, before you get started we just need
              to confirm that you own this email.
            </p>

            <p>To confirm your email please press the button below:</p>
          </td>
        </tr>

        <tr>
          <td height="20" style="padding: 0; background-color: white"></td>
        </tr>

        <tr>
          <td style="padding: 0 40px">
            <center>
              <a
                href="{{link}}"
                style="
                  display: block;
                  color: black;
                  background-color: #f1f1f1;
                  padding: 10px;
                  border-radius: 15px;
                  text-decoration: none;
                "
              ><h2 style="font-weight: 200">Confirm My Email</h2></a>
            </center>
          </td>
        </tr>

        <tr>
          <td height="30" style="padding: 0; background-color: white"></td>
        </tr>

        <tr>
          <td style="padding: 0; background-color: white; padding: 0 10px">
            If the button above does not work, please try the link below:
          </td>
        </tr>

        <tr>
          <td height="20" style="padding: 0; background-color: white"></td>
        </tr>

        <tr>
          <td style="padding: 0; background-color: white; padding: 0 10px">
            {{link}}
          </td>
        </tr>

        <tr>
          <td height="20" style="padding: 0; background-color: white"></td>
        </tr>

        <tr>
          <td
            style="
              padding: 0;
              background-color: white;
              padding: 0 10px;
              color: #999999;
            "
          >
            <p>
              If you didn't create an account with us recently then you can
              safely ignore this email, it is likely that someone had a typo
              when entering their own email. You shouldn't receive any other
              emails from us unless your email is used on our platform again.
            </p>
          </td>
        </tr>

        <tr>
          <td height="20" style="padding: 0; background-color: white"></td>
        </tr>

        <tr>
          <td height="15" style="padding: 0; background-color: #ebebeb"></td>
        </tr>

        <tr>
          <td style="padding: 0; background-color: #ebebeb">
            <center>
              <img src="cid:shadowlogo" alt="Kakapo Logo" width="110" />
            </center>
          </td>
        </tr>
        <tr>
          <td height="15" style="padding: 0; background-color: #ebebeb"></td>
        </tr>
        <tr>
          <td style="padding: 0; background-color: #ebebeb" class="footer">
            <center>
              <a
                href="https://kakaposocial.com/email/why"
                style="margin: 0 10px; display: block; color: #aaaaaa"
              >Why am I reveiving this email?</a>
            </center>
          </td>
        </tr>
        <tr>
          <td height="10" style="padding: 0; background-color: #ebebeb"></td>
        </tr>
        <tr>
          <td style="padding: 0; background-color: #ebebeb" class="footer">
            <center>
              <a
                href="https://kakaposocial.com/email/unsubscribe"
                style="margin: 0 10px; display: block; color: #aaaaaa"
              >Unsubscribe / Stop receiving emails.</a>
            </center>
          </td>
        </tr>
        <tr>
          <td height="20" style="padding: 0; background-color: #ebebeb"></td>
        </tr>
      </table>
    </center>
  </body>
</html>