{{#> base }}
<tr>
  <td style="padding: 0; padding: 0 10px">
    <h3 style="margin: 0; font-weight: 500">Hello {{name}}!</h3>
  </td>
</tr>
<tr>
  <td height="10" style="padding: 0; background-color: white"></td>
</tr>
<tr>
  <td style="padding: 0; background-color: white; padding: 0 10px">
    <p style="margin: 0; font-weight: lighter">
      We're just emailing you to let you know that 2FA was recently disabled on your account.
    </p>
    <p>
      If this was not you then you should change your password immediately.
    </p>
  </td>
</tr>
{{/ base }}