<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>Welcome</title>
  </head>
  <body
    style="
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      color: #444444;
      background-color: #cccccc;
    "
  >
    <center style="width: 100%; table-layout: fixed; background-color: #cccccc">
      <table
        width="100%"
        style="
          margin: 0 auto;
          width: 100%;
          max-width: 600px;
          border-spacing: 0;
          background-color: white;
        "
      >
        <tr>
          <td height="15" style="padding: 0; background-color: white"></td>
        </tr>
        <tr>
          <td style="padding: 0">
            <center>
              <a href="https://kakaposocial.com/" style="text-decoration: none">
                <img
                  src="static/banner.png"
                  alt="Kakapo Branding"
                  height="35"
                />
              </a>
            </center>
          </td>
        </tr>
        <tr>
          <td height="30" style="padding: 0; background-color: white"></td>
        </tr>
        <tr>
          <td style="padding: 0">
            <center>
              <h1 style="margin: 0; font-weight: 500; font-size: 60px">
                Welcome
              </h1>
            </center>
          </td>
        </tr>
        <tr>
          <td height="40" style="padding: 0; background-color: white"></td>
        </tr>
        <tr>
          <td height="2" style="padding: 0; background-color: #eeeeee"></td>
        </tr>
        <tr>
          <td height="16" style="padding: 0; background-color: white"></td>
        </tr>
        <tr>
          <td style="padding: 0; background-color: white; padding: 0 10px">
            <h3 style="margin: 0; font-weight: 500">Hello {{name}}!</h3>
            <p style="margin: 0; font-weight: lighter">
              Thank you for choosing Kakapo, we hope you enjoy your time on the
              platform and would greatly appreciate any feedback or
              improvements.
            </p>
          </td>
        </tr>

        <tr>
          <td height="30" style="padding: 0; background-color: white"></td>
        </tr>

        <tr>
          <td>
            <center>
              <img
                src="static/people.png"
                alt=""
                width="300"
                style="display: block"
              />
            </center>
          </td>
        </tr>
        <tr>
          <td height="10" style="background-color: #f3f3f3"></td>
        </tr>
        <tr>
          <td style="background-color: #f3f3f3; padding: 0 20px">
            Kakapo is a social network for friendly people of all cultures and
            backgrounds to connect with each other and confidently socialise in
            a safe and secure environment.
          </td>
        </tr>
        <tr>
          <td height="10" style="background-color: #f3f3f3"></td>
        </tr>
        <tr>
          <td height="10" style="background-color: white"></td>
        </tr>
        <tr>
          <td>
            <center>
              <img
                src="static/subjects.png"
                alt=""
                width="300"
                style="display: block"
              />
            </center>
          </td>
        </tr>
        <tr>
          <td height="10" style="background-color: #f3f3f3"></td>
        </tr>
        <tr>
          <td style="background-color: #f3f3f3; padding: 0 20px">
            You can find just about anything on Kakapo, from the latest news to
            space enthusiats and computer programmers to the latest fashion
            trends. To put it plainly, you can find anything you want on Kakapo.
          </td>
        </tr>
        <tr>
          <td height="10" style="background-color: #f3f3f3"></td>
        </tr>

        <tr>
          <td height="30" style="background-color: white"></td>
        </tr>

        <tr>
          <td height="15" style="padding: 0; background-color: #ebebeb"></td>
        </tr>

        <tr>
          <td style="padding: 0; background-color: #ebebeb">
            <center>
              <img src="static/shadowlogo.png" alt="Kakapo Logo" width="110" />
            </center>
          </td>
        </tr>
        <tr>
          <td height="15" style="padding: 0; background-color: #ebebeb"></td>
        </tr>
        <tr>
          <td style="padding: 0; background-color: #ebebeb" class="footer">
            <center>
              <a href="#" style="margin: 0 10px; display: block; color: #aaaaaa"
                >Why am I reveiving this email?</a
              >
            </center>
          </td>
        </tr>
        <tr>
          <td height="10" style="padding: 0; background-color: #ebebeb"></td>
        </tr>
        <tr>
          <td style="padding: 0; background-color: #ebebeb" class="footer">
            <center>
              <a href="#" style="margin: 0 10px; display: block; color: #aaaaaa"
                >Unsubscribe / Stop receiving emails.</a
              >
            </center>
          </td>
        </tr>
        <tr>
          <td height="20" style="padding: 0; background-color: #ebebeb"></td>
        </tr>
      </table>
    </center>
  </body>
</html>
