{{#> base }}
<tr>
  <td style="padding: 0; padding: 0 10px">
    <h3 style="margin: 0; font-weight: 500">Hello {{name}}!</h3>
  </td>
</tr>
<tr>
  <td height="10" style="padding: 0; background-color: white"></td>
</tr>
<tr>
  <td style="padding: 0; background-color: white; padding: 0 10px">
    <p style="margin: 0; font-weight: lighter">
      We just received a request to change your password on Kakapo. If you didn't make this request, you can safely
      ignore this email and your password wont be changed but keep in mind that someone requested to change your
      password.
    </p>

    <p>
      To continue with the password change please press the button below:
    </p>
  </td>
</tr>

<tr>
  <td height="20" style="padding: 0; background-color: white"></td>
</tr>

<tr>
  <td style="padding: 0 40px">
    <center>
      <a
        href="{{link}}"
        style="
                  display: block;
                  color: black;
                  background-color: #f1f1f1;
                  padding: 10px;
                  border-radius: 15px;
                  text-decoration: none;
                "
      ><h2 style="font-weight: 200">Change my password</h2></a>
    </center>
  </td>
</tr>

<tr>
  <td height="30" style="padding: 0; background-color: white"></td>
</tr>

<tr>
  <td style="padding: 0; background-color: white; padding: 0 10px">
    If the button above does not work, please try the link below:
  </td>
</tr>

<tr>
  <td height="20" style="padding: 0; background-color: white"></td>
</tr>

<tr>
  <td style="padding: 0; background-color: white; padding: 0 10px">
    {{link}}
  </td>
</tr>
{{/ base }}