{{#> base }}
<tr>
  <td height="20" style="padding: 0; background-color: white"></td>
</tr>
<tr>
  <td style="padding: 0">
    <center>
      <h1 style="margin: 0; font-weight: 500; font-size: 60px">
        Welcome
      </h1>
    </center>
  </td>
</tr>
<tr>
  <td height="40" style="padding: 0; background-color: white"></td>
</tr>
<tr>
  <td style="padding: 0; padding: 0 10px">
    <h3 style="margin: 0; font-weight: 500">Hello {{name}}!</h3>
  </td>
</tr>
<tr>
  <td height="10" style="padding: 0; background-color: white"></td>
</tr>
<tr>
  <td style="padding: 0; background-color: white; padding: 0 10px">
    <p style="margin: 0; font-weight: lighter">
      Thank you for choosing Kakapo, we hope you enjoy your time on the platform and would greatly appreciate any
      feedback or improvements.
    </p>
  </td>
</tr>

<tr>
  <td height="30" style="padding: 0; background-color: white"></td>
</tr>

<tr>
  <td>
    <center><img src="{{assets.people}}" alt="" width="300" style="display: block" /></center>
  </td>
</tr>
<tr>
  <td height="10" style="background-color: #f3f3f3"></td>
</tr>
<tr>
  <td style="background-color: #f3f3f3; padding: 0 20px">
    Kakapo is a social network for friendly people of all cultures and backgrounds to connect with each other and
    confidently socialise in a safe and secure environment.
  </td>
</tr>
<tr>
  <td height="10" style="background-color: #f3f3f3"></td>
</tr>
<tr>
  <td height="10" style="background-color: white"></td>
</tr>
<tr>
  <td>
    <center>
      <img src="{{assets.topics}}" alt="" width="300" style="display: block" />
    </center>
  </td>
</tr>
<tr>
  <td height="10" style="background-color: #f3f3f3"></td>
</tr>
<tr>
  <td style="background-color: #f3f3f3; padding: 0 20px">
    You can find just about anything on Kakapo, from the latest news to space enthusiasts and computer programmers to the
    latest fashion trends. To put it plainly, you can find anything you want on Kakapo.
  </td>
</tr>
<tr>
  <td height="10" style="background-color: #f3f3f3"></td>
</tr>
{{/base}}