{{#> base }}
<tr>
  <td style="padding: 0; padding: 0 10px">
    <h3 style="margin: 0; font-weight: 500">Hello {{name}}!</h3>
  </td>
</tr>
<tr>
  <td height="10" style="padding: 0; background-color: white"></td>
</tr>
<tr>
  <td style="padding: 0; background-color: white; padding: 0 10px">
    <p style="margin: 0; font-weight: lighter">
      We're just emailing you to let you know that you recently enabled 2FA on your account. Thank you for helping us
      help you keep your account secure.
    </p>
    <p>
      If this was not you then you should contact support immediately and ensure that your email account is secure.
    </p>
  </td>
</tr>
{{/ base }}